*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #aacf4b;
}
.container{
    margin: 100px auto;
    padding: 0 22px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    gap: 25px;
}
.card-info{
    width: 370px;
    background-color: #fff;
    border-radius: 26px;
    padding: 28px 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    transition: 0.4s;
}
.image{
    width: 100px;
    height: 100px;
    background-color: #e7eeff;
    margin: 0 auto;
}
.image img{
    width: 100%;
    padding: 18px;
}
.image,.arrow-btn{
    border-radius: 50%;
}
.card-info h4{
    margin: 22px 0 12px 0;
}
.main-btn{
    position: relative;
    display: inline-block;
}
.info-btn{
    width: 145px;
    background-color: #b9d095;
    border-radius: 22px;
    font-weight: 600;
    padding: 12px 36px 12px 0;
}
.arrow-btn{
    width: 40px;
    height: 40px;
    background-color: #2d9fd7;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.6s;
}
.info-btn,.arrow-btn{
    border: none;
    cursor: pointer;
    color: #fff;
}
.card-info:hover{
    transform: translateY(-8px);
    background-color: #c0e165;
}
.main-btn:hover .arrow-btn{
    transform: translateX(-108px);
    background-color: #7aad4c;
}